<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.softeng306plantasticapp">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Plantastic Plant Store :)"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Softeng306PlantasticApp"
        tools:targetApi="31">
        <activity
            android:name=".activities.DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activities.WishlistActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CartActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ListActivity"
            android:exported="false"
            android:theme="@style/Theme.Softeng306PlantasticApp" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:label="Plantastic | Home"
            android:theme="@style/Theme.Softeng306PlantasticApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>